@font-face {
    font-family: myFirstFont;
    src: url(../fonts/rdrlino-regular-webfont.woff);
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/rdrlino-regular-webfont.woff);
    font-weight: normal;
}

* {
    font-family: myFirstFont;
    box-sizing: inherit;
    touch-action: manipulation;
}

body {
    z-index: 5 !important;
    background-color: transparent;
    height: auto;
    max-height: 150%;
    overflow: auto;
}

.wrapper{
    bottom: 3px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;

}

.pb-vorp-food{
    background-image: url(../img/hunger.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pb-vorp-water{
    background-image: url(../img/thirst.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cols-wrapper{
    z-index: 99 !important;
    height: 30px;
    width: 100%;
    max-width: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb-vorp-water, .pb-vorp-food{
    transform: scale(0.6);
    z-index: 8 !important;
    display: flex;
    border-radius: 55px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    width: 45px;
    height: 45px;
}


.water, .food{
    z-index: 8 !important;
    width: 4vw;
}


@media only screen and (max-width: 1600px) and (max-height: 900px) {
    .cols-wrapper{
        max-width: 220px;
    }
}

@media only screen and (max-width: 1280px) and (max-height: 1024px) {
    .cols-wrapper{
        max-width: 213px;
    }
}